<div class="header">
    <div>
      <button type="button" mat-button (click)="drawer.toggle();" style="margin-right: 10px;">
        <mat-icon aria-hidden="false" aria-label="Example home icon">menu</mat-icon>
        <!-- <mat-icon *ngIf="!sidenav" aria-hidden="false" aria-label="Example home icon">clear</mat-icon> -->
      </button>
      <span>MAP-SOFT</span>
    </div>
    
    <div class="content-user" [matMenuTriggerFor]="menu">
      <!-- <span> {{ user.email.split('@')[0] }}</span> -->
      <!-- <div class="separador-10"></div> -->
      <div class="user user-small">
        <span>{{ user.email.charAt(0).toUpperCase() }}</span>
      </div>
    </div>
    <mat-menu #menu="matMenu" class="material-menu">
      <div class="info-menu"> 
        <div class="info-usuario">
          <div class="user user-big">
            <span>{{ user.email.charAt(0).toUpperCase() }}</span>
          </div>
        </div>

        <div class="info-user">
          <p class="texto nombre">{{ user.email.split('@')[0] }}</p>
          <p class="texto correo">{{ user.email }}</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <!-- opciones menu -->
      <button mat-menu-item (click)="logout()"><mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>Cerrar sesión</button>
    </mat-menu>
  </div>
  <!-- Fin Header -->

  
  <mat-drawer-container class="example-container content" autosize>
    <mat-drawer #drawer class="width-sidenav sidenav" mode="side" opened>
      <app-sidenav></app-sidenav>
    </mat-drawer>
  
    <div class="sidenav-content">
        <app-map-list></app-map-list>
    </div>
  
  </mat-drawer-container>
