.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: var(--surface);
    color: var(--text-surface);
    border-bottom: 1px solid var(--border);
}

.width-sidenav{
    width: 300px; 
 }

 .sidenav{
    padding: 0px!important;
    border-right: 1px solid var(--border);
    border: none;
    background: var(--surface);
 }

.content{
    height: calc(100% - 60px);
    /* border-top: 1px solid var(--border); */
}

.content-user{
    /* width: px; */
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    padding: 5px 5px;
    border-radius: 50%;
}

.content-user:hover{
    cursor: pointer;
    background: var(--hovermenu);
    
}

.separador-10{
    width: 10px;
}

.user{
    background-color: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-small{
    height: 35px;
    width: 35px;
}

.user-small span{
    font-size: 16px;
}

.user-big{
    height: 50px;
    width: 50px;
}

.user-big span{
    font-size: 24px;
}

.user span{
    color: var(--text-primary);
    font-weight: 500;
}

.info-menu{
    min-width: 250px;
    padding: 15px;
    display: flex;
    padding-bottom: 20px;
    /* border-bottom: 1px solid var(--border); */
}

.sidenav-content{
    /* padding: 40px; */
    height: calc(100vh - 60px);
    background: var(--background);
}

.info-usuario{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.info-user{
    width: calc(100% - 50px)!important;
    height: 50px;
    text-align: center;
    color: var(--low-emphasis);
    cursor: default;
}

.texto{
    text-align: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    line-height: 25px!important;
    height: 25px!important;
    margin: 0px!important;
}

.nombre{
    font-size: 16px;
    color: var(--high-emphasis);
}

.correo{
    font-size: 12px;
    color: var(--low-emphasis);
}
