<div class="contenedor-general">
    <div class="header">
        <h1 class="header-titulo">Detalle</h1>
        <div style="cursor: pointer" (click)="close()">
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <ng-container *ngIf="maps.length == 1 else mensaje">
        <div class="content">
            <div>
                <p class="title">Nombre</p>
                <p>{{ maps[0].name }}</p>
            </div>
            <div>
                <p class="title">Fecha</p>
                <p>{{ maps[0].date_creation | date : 'dd-MM-yyyy' }}</p>
            </div>
            <div>
                <p class="title">Propietario</p>
                <p>{{ maps[0].owner }}</p>
            </div>
            <div>
                <p class="title">Logs</p>
                <div class="contenedor-visor">
                    <p class="log" *ngFor="let log of maps[0].log" [innerHtml]="log"></p>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #mensaje>
        <div class="flexible contenedor-mensaje">
            <div>
                <p>Para ver el detalle, debe seleccionar un{{maps.length > 1 ? ' solo' : ''}} mapa</p>
            </div>
        </div>
    </ng-template>


</div>
