/* Basic sample */
.col-der-header{
	justify-content: flex-end;
}
.col-der-header .btn-header-icv {
    margin: 0px!important;
}
.p-2{
	padding: 2rem;
}
.p-5{
	padding: 5rem;
}
.contenedor{
	position:relative;
	height:85%;
}
.contenedor-datos{
	padding: 1.5rem 4.5rem 1rem;
}
.modal-backdrop {
    z-index: 9;
}
.modal-open .modal-slider-icv.in{
	z-index:11;
}
.content_format-n3 {
    z-index: unset!important;
}
.contenedor-datos .titulo{
	font-size: 1.2rem;
}
.contenedor-datos .descripcion,
.contenedor-datos .descripcion p{
	    font-size: 1rem;
}
.btn-icv-slider{
	position: absolute;
    top: 25px;
    right: 32px;
    z-index: 11;
}
.slick-prev, .slick-next {
	top: 46%;
    width: 46px;
    height: 52px;
    background-repeat:no-repeat!important;
} 
.slick-prev, .slick-prev:hover {
	background-position-x: right!important;
    left: 0!important;
    z-index: 1;
}
.slick-next, .slick-next:hover {
    right: 0!important;
}
.slick-prev {
    background-image: url(../img/ICV_flechIZQ.png)!important;
}
.slick-next {
    background-image: url(../img/ICV_flechDER.png)!important;
}
.slick-list{ display:flex; }
.slick-dots li button:before{
    font-size: 12px;
}
.slick-dotted.slick-slider {
    margin-bottom: 15px;
}
.slick-dots {
    padding-top: 15px;
    border-top: 1px solid #ccc;
}
.contenedor-slide img {
    margin: 0 auto;
}
.logo-contraparte{
	height: 56px;
    width: auto;
    float:right;
}
.tooltip.top .tooltip-arrow{
    border-top-color: #fff;
}
.tooltip.bottom .tooltip-arrow{
    border-bottom-color: #fff;
}
.tooltip.left .tooltip-arrow{
    border-left-color: #fff;
}
.tooltip.right .tooltip-arrow{
    border-right-color: #fff;
}
.tooltip-inner {
    color: #000;
    background-color: #fff;
}
.form-control {
    font-size: 14px;
	height: 36px;
}
@media (max-width: 768px){
	.conicet-text{ display:none; }
	.navbar .navbar-brand img { width:auto!important; }
	.navbar .btn { 
		padding: 8px 10px;
		font-size: 14px;
	}
	.btn-icv-slider {
		top: 5px;
		right: 13px;
		font-size: 12px;
		padding: 10px;
	}
	.h6{ font-size: 13px;}
	.moda-header{ 
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.contenedor-datos { padding: 1rem 0 1rem; }
	.contenedor-datos .titulo { font-size: 1rem;}
	.contenedor-datos .descripcion,
	.contenedor-datos .descripcion p{
	    font-size: 12px;
	}
	.logo-contraparte {	height: 40px; }
	.navbar-toggle {	 margin-top: 0;	}
	.slick-slide img { width: 90%; }
}