/*
CONICET PONCHO
*/

/*----------------GENERALES--------------------------------*/

h1{
	margin:0px!important;
}

img{
	border:0px;
}

a, a:active, a:hover, a:visited, a:focus{
	text-decoration:none;
}

.no-show{
	display:none!important;
}
.transparent{
    opacity:0.9;
    filter: alpha(opacity=90);	
}

::-webkit-input-placeholder {
   color: #7d7d7d;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7d7d7d;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7d7d7d; 
}

:-ms-input-placeholder {  
   color: #7d7d7d;  
}

.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}


/*----------------#GENERALES --------------------------------*/

.py-0{
	padding-top:0px;
	padding-bottom:0px;
}
.v-align {
    display: flex;
    align-items: center;
}
/*----------------HEADER--------------------------------*/

.conicet-text{
    font-size: 17px;
    color: #767676;
}
.navbar.navbar-top .input-group {
    width: 300px!important;
    margin-top: 13px;
    margin-left: 30px;
}
.navbar-default .nav > li > a {
    font-size: 14px!important;
}
.navbar-header{
    width: 55%;
}

.navtopright {
    float: right;
}

.header-links{
	float:left;
	margin-left:15px;
	list-style-type: none;
}

.header-links a {
	text-decoration:none;
}

.navbar-default .nav > li > a {
    line-height: 17px!important;
    padding-bottom: 16px!important;
    padding-top: 16px!important;
}
.dropdown-menu li a {
    font-size: 14px!important;
}

.navbar-collapse{
	border-top:1px solid #eaeaea!important;
}

button .navbar-toggle{
	margin-left:1rem;
}

.pl-m5 {
    padding-left: .5rem;
}


/*----------------#HEADER--------------------------------*/

.nav>li>a {
    padding: 11px 26px!important;
}

/*----------------BODY--------------------------------*/

.px-0{
	padding-right:0px!important;
	padding-left:0px!important;
}


/*----------------#BODY--------------------------------*/


/*----------------FOOTER--------------------------------*/

h2.section-title a {
	color:#767676;
}

footer h1.section-title, 
footer h2.section-title, 
footer h3.section-title, 
footer h4.section-title, 
footer h5.section-title, 
footer h6.section-title, 
footer .h1.section-title, 
footer .h2.section-title, 
footer .h3.section-title, 
footer .h4.section-title, 
footer .h5.section-title, 
footer .h6.section-title {
    margin-bottom: 15px;
}

footer .text-muted p{
	font-size:13.6px;
}
footer.main-footer h3 > a {
    color: #767676;
}

#container-direccion {
	padding-top:15px;
    border-top: 1px solid #eaeaea;
}

#texto-direccion {
	max-width: 1135px;
    margin: auto;
    margin-bottom: 15px;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #767676;
    text-align: center;
}

#texto-direccion p {
	font-size:.85em;
}

.main-footer {
	padding-top:0px!important;	
}

#secciones-footer {
	padding-top:20px;
}

.ul-foot{
	min-height:210px;
}

@media (max-width: 589px){
	#texto-direccion {
		margin-left:5%;
	}
}

/*----------------#FOOTER--------------------------------*/


/*-------------POPUP----------*/

.overlay {
    display:none;
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100001;
    opacity:0.5;
}

/*-------------#POPUP----------*/

.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.mb-1{
	margin-bottom: 1rem;
}
.mb-2{
	margin-bottom: 2rem;
}

.mt-1{
	margin-top: 1rem;
}
.mt-2{
	margin-top: 2rem;
}

.float-left{
	float:left;
}
.float-right{
	float:right;
}
.social-share li a {
    font-size: 2rem!important;
    padding: 0px 0!important;
}
.social-share li:hover span, .social-share li:hover i {
    color: #337ab7!important;
}
.social-share li:hover {
    background: transparent!important;
}

.social-share li {
    border-radius: 0px;
    margin: 0;
    padding: 2px!important;
}

.my-2{
	margin-top:2rem;
	margin-bottom:2rem;
}
.mb-2{
	margin-bottom:2rem;
}
.col-banner-en{
	margin-top:30px;
}

.nav.nav-icons li a span {
    font-family: Roboto-bold;
}