.list-view-container{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.mat-column-ext{
    width: 100px;
}

.mat-column-name{
	width: calc(100% - 420px);
}

.mat-column-date_creation{
	width: 170px;
}

.mat-column-owner{
	width: 250px;
}

.mat-column-loading{
	width: 50px;
}

.mat-column-expand {
  width: 50px;
}

.etiqueta-ext{
	height: 20px;
	line-height: 20px;
	padding: 0 5px;
	background-color: #039be5;
	color: #FFF;
	margin-right: 10px;
}

.mr-10{
	margin-right: 10px;
}

.icon-ordenar {
  cursor: pointer;
}

.icon-ordenar mat-icon {
  font-size: 16px;
  translate: 0 3px;
}

.contenido-expanded{
	background: black;
	padding: 10px;
}

.spinner{
	height: 10px;
}

/* tabla expandible */

table {
	width: 100%;
}

tr.example-detail-row {
	height: 0;
}

  /* tr.example-element-row:not(.example-expanded-row):hover {
	background: whitesmoke;
  }

  tr.example-element-row:not(.example-expanded-row):active {
	background: #efefef;
  } */

.container-file td {
	border-bottom-width: 0;
}
.container-file:hover{
  background-color: #2e2e2e;
}

.container-file.selected{
  background-color: grey;
}

.container-file.firstSelectedMap{
  border: 1px solid grey;
}

.example-element-detail {
	overflow: hidden;
	display: flex;
}

.example-element-diagram {
	min-width: 80px;
	border: 2px solid black;
	padding: 8px;
	font-weight: lighter;
	margin: 8px 0;
	height: 104px;
}

.example-element-symbol {
	font-weight: bold;
	font-size: 40px;
	line-height: normal;
}

.example-element-description {
	padding: 16px;
}

.example-element-description-attribution {
	opacity: 0.5;
}

.flexible{
	display: flex;
	flex-wrap: nowrap;
	height: calc(100% - 56px);
}

.amarillo {
	background-color: #f57f17;
}

.azul {
	background-color: #311b92;
}

.celeste {
	background-color: #006064;
}

.button-add{
	padding: 3px 15px;
	cursor: pointer;
	border-radius: 7px;
	background: var(--backgroundmenu);
}
