<ng-container>
	<div class="contenedor-botones-acciones">
		<div>
			<button mat-icon-button (click)="isListView = !isListView">
				<ng-container *ngIf="isListView">
					<mat-icon>grid_view</mat-icon>
				</ng-container>
				<ng-container *ngIf="!isListView">
					<mat-icon>view_list</mat-icon>
				</ng-container>
			</button>
		</div>
	</div>

	<!-- contenedor de vistas -->
	<form appDragDrop (fileDropped)="subirArchivo($event)" class="contenedor-lista">
		<div class="view-container">
			<!-- vista lista -->
			<app-list-view *ngIf="isListView"
        [maps]="maps"
        (onClick)="onClick($event)"
        (onContextMenu)="onContextMenu($event)"
        (onDblClick)="openMap($event)">
      </app-list-view>

			<!-- vista grilla -->
			<app-grid-view #gridView
				*ngIf="!isListView"
				[maps]="maps"
				(onClick)="onClick($event)"
				(onContextMenu)="onContextMenu($event)"
				(onDblClick)="openMap($event)">
			</app-grid-view>
		</div>
	</form>
</ng-container>

<!-- menu contextual -->
<div style="visibility: hidden; position: fixed;" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
		<button *ngIf="!(mapsSectionService.isListView)" mat-menu-item (click)="openViewDetail()">
            <mat-icon>details</mat-icon>Ver detalle
        </button>
        <button *ngIf="item && item.ext == 'mbtiles'" mat-menu-item (click)="download()">
            <mat-icon>file_download</mat-icon>Descargar
        </button>
        <button mat-menu-item (click)="remove()">
            <mat-icon>delete</mat-icon>Eliminar
        </button>
    </ng-template>
</mat-menu>
