<ng-container>
	<div class="contenedor-botones-acciones">
		<!-- <div style="display: flex; justify-content: center; align-items: center">

			<label class="button-add mat-elevation-z2" title="Subir archivos">
				<span><mat-icon>upload_file</mat-icon></span>
				<input #fileUpload type="file" multiple (change)="subirArchivo($event.target)" style="width: 0px; height: 0px">
			</label>
		</div> -->
		<div>
			<!-- <button mat-icon-button *ngIf="!isListView && asc" style="margin-right: 10px;" (click)="sort('nombre','asc')"><mat-icon>sort_by_alpha</mat-icon></button>
			<button mat-icon-button *ngIf="!isListView && !asc" style="margin-right: 10px;" (click)="sort('nombre','desc')"><mat-icon>sort_by_alpha</mat-icon></button> -->
			<button mat-icon-button (click)="isListView = !isListView">
				<ng-container *ngIf="isListView">
					<mat-icon>view_module</mat-icon>
				</ng-container>
				<ng-container *ngIf="!isListView">
					<mat-icon>view_list</mat-icon>
				</ng-container>
			</button>
		</div>
	</div>

	<!-- contenedor de vistas -->
	<form appDragDrop (fileDropped)="subirArchivo($event)" class="contenedor-lista">
		<div class="view-container">
			<!-- vista lista -->
			<app-list-view *ngIf="isListView" [maps]="mapList">
			</app-list-view>

			<!-- vista grilla -->
			<app-grid-view *ngIf="!isListView" [maps]="mapList">
			</app-grid-view>
		</div>
	</form>
</ng-container>

<!-- <div style="visibility: hidden; position: fixed;"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent>
		<button *ngIf="item && item.ext == 'mbtiles'" mat-menu-item (click)="descargar(item)" ><mat-icon>file_download</mat-icon>Descargar</button>
		<button mat-menu-item (click)="eliminar(item)"><mat-icon>delete</mat-icon>Eliminar</button>
	</ng-template>
</mat-menu> -->