<ng-container>
	<div class="contenedor-botones-acciones">
		<div>
			<button mat-button (click)="isListView = !isListView">
				<ng-container *ngIf="isListView">
					<mat-icon>grid_view</mat-icon>
          Ver como grilla
				</ng-container>
				<ng-container *ngIf="!isListView">
					<mat-icon>view_list</mat-icon>
          Ver como listado
				</ng-container>
			</button>
		</div>
    <label for="fileUpload" class="input-file mat-button mat-focus-indicator mat-button-base">
      <div class="mat-button-wrapper">
        <mat-icon>note_add</mat-icon>
        Subir archivos
      </div>
      <div class="mat-button-focus-overlay"></div>
    </label>
    <input type="file" #fileUpload id="fileUpload" (change)="subirArchivo($event.target);" multiple accept=".json, .geojson">
	</div>

	<!-- contenedor de vistas -->
	<form appDragDrop (fileDropped)="subirArchivo($event)" class="contenedor-lista">
		<div class="view-container">
			<!-- vista lista -->
			<app-list-view #listView
        *ngIf="isListView"
        (sort)="sort($event)"
        [sorting]="sorting"
        [maps]="maps"
        (onClick)="onClick($event)"
        (onContextMenu)="onContextMenu($event)"
        (onDblClick)="openMap($event)">
      </app-list-view>

			<!-- vista grilla -->
			<app-grid-view #gridView
				*ngIf="!isListView"
				[maps]="maps"
				(onClick)="onClick($event)"
				(onContextMenu)="onContextMenu($event)"
				(onDblClick)="openMap($event)">
			</app-grid-view>
		</div>
	</form>
</ng-container>

<!-- menu contextual -->
<div style="visibility: hidden; position: fixed;" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent>
        <button *ngIf="item && selectedMaps.length === 1 && item.ext == 'mbtiles'" mat-menu-item (click)="openMap(item)">
          <mat-icon>search</mat-icon>Visualizar mapa
        </button>
		    <button *ngIf="item && selectedMaps.length === 1" mat-menu-item (click)="openViewDetail()">
            <mat-icon>details</mat-icon>Ver detalle
        </button>
        <button *ngIf="item && item.ext == 'mbtiles'" mat-menu-item (click)="download()">
            <mat-icon>file_download</mat-icon>Descargar
        </button>
        <button mat-menu-item (click)="remove()">
            <mat-icon>delete</mat-icon>Eliminar
        </button>
    </ng-template>
</mat-menu>
