.grid-view-container{
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background: yellow; */
}

.drawer-container{
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.container-file{
    display: inline-block;
    width: 110px;
    height: 110px;
    margin: 5px 5px;
    padding: 5px;
    cursor: pointer;
    /* border: 1px solid grey; */
}

.container-file:hover{
    background-color: #2e2e2e;
}

.container-file.selected{
    background-color: grey;
}

.container-file.firstSelectedMap{
    border: 1px solid grey;
}

.file{
    background-color: black;
    width: 100%;
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-file{
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.name-file p{
    width: 100px;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 30px;
}