<div class="grid-view-container">
    <mat-drawer-container autosize class="drawer-container">
        <div>
            <ng-container *ngFor="let map of maps">
                <div matTooltip="{{ map.name}}.{{ map.ext }}" matTooltipShowDelay="500" class="container-file" (click)="map && click($event,map)" (contextmenu)="contextMenu($event, map)"
                    (dblclick)="dblClickEvent(map)"
                    [ngClass]="{'selected': selectedMaps.includes(map),'firstSelectedMap': firstSelectedMap == map.id }">
                    <div class="file">

                    </div>
                    <div class="name-file">
                        <p>{{ map.name}}.{{ map.ext }}</p>
                    </div>
                </div>
            </ng-container>
        </div>

        <mat-drawer #drawer mode="side" position="end" [opened]="isOpenDetailView" style="background: #1e1e1e">
            <app-view-detail
                (closeView)="closeDetailView()"
            ></app-view-detail>
        </mat-drawer>
    </mat-drawer-container>
</div>
