<div class="grid-view-container">
    <ng-container *ngFor="let map of maps">
        <div class="container-file" (click)="map && onClick($event,map)" (contextmenu)="onContextMenu($event, map)" (dblclick)="onDblClickEvent(map)"
            [ngClass]="{'selected': selectedMaps.has(map.id),'firstSelectedMap': firstSelectedMap == map.id }">
            <div class="file">

            </div>
            <div class="name-file">
                <p>{{ map.name}}</p>
            </div>
        </div>
    </ng-container>
</div>
