<ng-container *ngIf="maps$ | async as mapList">
	<div class="contenedor-botones-acciones">
		<div>
			<!-- alineado a izquierda -->
			<input type="file">
		</div>
		<div>
			<!-- alineado a derecha -->
			<button mat-icon-button (click)="listado = !listado">
				<ng-container *ngIf="listado === true">
					<mat-icon>view_module</mat-icon>
				</ng-container>
				<ng-container *ngIf="listado === false">
					<mat-icon>view_list</mat-icon>
				</ng-container>
			</button>
		</div>
	</div>
	<!-- vista por columnas -->
	<ng-container *ngIf="listado">
		<div class="contenedor">
			<div class="contenido-vista">
				<table mat-table [dataSource]="mapList" matSort matSortActive="name" matSortDisableClear matSortDirection="desc" class="tabla-lista">
					<div>
						<!-- Name Column -->
						<div>
							<ng-container matColumnDef="name">
								<th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nombre</th>
								<td mat-cell *matCellDef="let element">
									<span><span class="etiqueta-ext mr-10">JSON</span>{{element.name}}</span>
								</td>
							</ng-container>
						</div>
						<!-- Date_Creation Column -->
						<div>
							<ng-container matColumnDef="date_creation">
								<th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.date_creation}}</span>
								</td>
							</ng-container>
						</div>
						<!-- Owner Column -->
						<div>
							<ng-container matColumnDef="owner">
								<th mat-header-cell *matHeaderCellDef>Propietario</th>
								<td mat-cell *matCellDef="let element">
									<span>{{element.owner}}</span>
								</td>
							</ng-container>
						</div>
					</div>
					<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" ></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
				</table>
			</div>
		</div>
	</ng-container>

	<!-- vista por grilla -->
	<ng-container *ngIf="!listado">
		<div class="contenedor">
			<div class="contenido-vista">
				<mat-grid-list cols="6" rowHeight="1:1">
					<mat-grid-tile *ngFor="let item of mapList" >
						<div class="file">
							<div class="file-content">
								<div class="file-icon">
									<mat-icon aria-hidden="false" aria-label="Example home icon">description</mat-icon>
								</div>
								<div class="file-name">
									<!-- <span class="etiqueta-ext mr-10">JSON</span> -->
									<span>{{item.name}}</span>
								</div>
								<div class="file-ext">
									<span class="etiqueta-ext">JSON</span>
								</div>
							</div>
							<!-- <div class="file-content">
								<p>Nombre: {{item.name}}</p>
								<div>
									<p>Fecha de Creación: </p>
									<p *ngIf="item.date_creation!==''"> {{item.date_creation}}</p>
									<p *ngIf="item.date_creation===null">null</p>
								</div>
								<div>
									<p>Propietario: {{item.owner}}</p>
								</div>
							</div> -->
						</div>
					</mat-grid-tile>
				</mat-grid-list>
			</div>
		</div>
	</ng-container>
</ng-container>