.mat-elevation-z4{
	height: 30px;
	color: black;
	background-color: lightseagreen;
}
table{
	margin: auto;
}
.container{
	margin:auto;
	padding-right: 30px;
	padding-bottom: 5px;
}
.container2{
	padding-right: 70px;
	padding-left: 70px;
}


.contenedor{
	/* background: yellow; */
	height: 100%;
	width: 100%;
}

.contenedor-botones-acciones{
	background: var(--surface);
	padding: 0px 25px;
	border-bottom: 1px solid var(--border);
	height: 56px;

	display: flex;
	align-items: center;
}

.contenido-vista{
	padding: 10px 25px;
}
