.contenedor-lista{
    margin: 0!important;
    padding: 0!important;
}

.elemento-lista{
    color: var(--text-surface);
    padding-left: 10px!important;
}

.elemento-lista:hover{
    /* color: var(--primary) !important; */
    background: var(--hovermenu);
}

.option{
    border-left: 3px solid transparent;
    padding-left: 10px!important;
    cursor: pointer;
}

.text-option{
    font-weight: 200;
    font-size: 16px;
}

.active{
    /* color: var(--primary) !important; */
    background: var(--hovermenu);
}