/* You can add global styles to this file, and also import other style files */

:root {
    --background: #121212;
    --surface: #1E1E1E; 
    --primary: #BB86FC;
    --secondary: #03DAC6;

    --text-background: #9C9C9C;
    --text-surface: #DCDCDC;
    --text-primary: #39294A;
    --text-secondary: #002D29;

    --backgroundmenu: #2E2E2E;
    --hovermenu: #2E2E2E; 

    --high-emphasis : rgba(255,255,255,0.87);
    --low-emphasis: rgba(255,255,255,0.6);
    --disabled: rgba(255,255,255,0.38);

    --border: #2E2E2E;

  }

/* Colores de texto: valores de opacidad → alto enfasis: 87%; medio enfasis: 60%; texto-disabled: 38%  */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p,span{
  /* cursor: default; */
  font-size: 14px;
}

.mat-menu-content{
  background: var(--backgroundmenu)!important;
  min-width: 200px;
}

mat-selection-list{
  padding: 0px!important;
}


/* Iconos de listas */
.color-icon-list{
  color: var(--low-emphasis)!important;
}

/* Mat-table */
.mat-table{
  background: transparent!important;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.mat-header-row {
  height: 45px!important;
  /* background: var(--background)!important; */
}

.mat-snack-bar-container{
  padding: 0px !important;
  overflow: hidden;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%) !important;
}

p, span, div, i {
  user-select: none;
}

p.log {
  user-select: text;
}