.elemento-lista{
    color: var(--text-surface);
    padding-left: 10px!important;
}

.option{
    border-left: 3px solid transparent;
    padding-left: 10px!important;
}

.text-option{
    font-weight: 200;
    font-size: 16px;
}

.active{
    /* border-left: var(--primary) 3px solid !important; */
    color: var(--primary) !important;
    background: var(--hovermenu);
}